/*Color palette
    #E9253C Dark red (Alizarin Crimson)
    #F5E6E8 Light pink (Pot Pourri)
    #0C0A3E Dark blue (Abbey)
    #EEF4D4 Light green (Tahuna Sands)
    #0F1108 Dark brown (Marshland?)
    #25271E Brown (Log Cabin)
*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #E9253C;
    color: black;
    text-align: center;
}

.footerTextArea{
    height: 125px;
}

.copyrightTextArea{

}